/*document styling*/

body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background: #f5f5f5;
}

* {
	box-sizing: content-box;
}

a {
    color: #3183c9;
    text-decoration: none;
}

/*header*/

header {
	background-image: url("../images/books_header_bg.jpg");
	background-position: 1600px 0px;
	width: 100%;
	position: relative;
}

.brand {
	background: url('../images/books.MD_logo_icon.png') no-repeat;
	background-position: 7px 38px;
    margin: 0 auto;
    padding: 25px 0px 25px 2px;
    width: 700px;
}

header h1 {
	padding-top: 14px;
	display: inline-block;
	margin: 5px 0 2px 0px;
	color: #fff;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 1.9em;
	text-align: left;
	padding-left: 100px;
}

header h1 span {
	font-weight: 100;
}

header h2 {
	color: #6b8607;
	font-weight: 400;
	font-size: 1em;
	padding-left: 100px;
	margin: 2px 0px 25px 0px;
}

header input {
	width: 600px;
	background-color: #cedd9a;
	border: none;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	padding: 17.5px 0px 15px 20px;
	color: #749108;
	outline: none;
	border-radius: 3px;
	margin-top: 30px;
	margin-bottom: 28px;
}

::-webkit-input-placeholder {
    color: #6b8607;
    opacity: 0.5;
}

:-ms-input-placeholder {
    color: #6b8607;
    opacity: 0.5;
}

::-moz-placeholder {
    color: #6b8607;
    opacity: 0.5;
}

:-moz-placeholder {
    color: #6b8607;
    opacity: 0.5;
    ;
}

button {
    background-color: #fff;
    border: 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    color: #a7c932;
    padding: 12px 20px 16px;
    position: relative;
    right: 10px;
    outline: none;
}

/*navigation*/

nav {
	text-align: center;
	background-color: #fff;
	font-size: 1.2em;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 400;
	letter-spacing: -.4px;
}

nav a {
	color: #959595;
	padding-left: 10px;
	padding-right: 10px;
}

nav ul {
	margin: 0;
	list-style: none;
}

nav li {
	display: inline-block;
}

nav a:hover {
	color: #9cbf2e;
}

/*section*/

section {
	width: 1160px;
	margin: 0 auto;
	background: white;
	border-radius: 6px;
	margin-top: 56px;
	padding-top: 36px;
	padding-left: 40px;
	font-variant-position: .7em;
}

section h1, h2 {
	color: #444444;
	font-weight: 400;
	margin: 0;
	font-size: 2em;
}

section p.author {
	display: inline-block;
}

section button.button-follow {
	font-size: .7em;
	border-radius: 3px;
	border: 1px solid #a7c932;
	padding: 5px 10px;
	margin-left: 14px;
}

section a.follow {
	display: inline-block;
	color: #a7c932;
}


.book-description {
	padding-left: 2px;
	padding-right: 25px;
}

.book-container {
	width: 95%;
	margin-bottom: 25px;
}


.book-picture {
    display: inline-block;
    float: left;
    padding: 0px 7px 0px 7px;
    background-color: white;
    margin-left: 15px;
    margin-bottom: 15px;
    max-height: 45px;
}

.book-picture img {
	border-right: 2.5px solid #dcdcdc;
}

.float-r {
	float: right;
	font-size: 1.2em;
	color: #98c10b;
	margin-left: 11px;
}

.bookmark {
	float: right;
	padding-right: 50px;
}

.book-contents {
	font-family: 'Roboto Slab', serif;
	color: #2685d5;
	font-weight: 500;
	margin-top: 65px;
}

p.bluearrow:after {
	color: #3183c9;
 	fill: currentColor;
 	content: url('../images/arrowright.png');
 	height: 24px;
 	width: 24px;
 	float: right;
 	padding-right: 25px;
 	margin-top: -15px;
}

p.bluearrow {
	margin-bottom: 0px;
}


.progress-barOrange {
	padding: 2.5px;
	background-color: #e7e7e7;
	max-width: 90%;
	position: relative;
}

.progress-barOrange span {
	padding: 2.5px;
	background-color: #f7be26;
	position: absolute;
	width: 80%;
	left: 0px;
	top: 0px
}

.progress-barGreen {
	padding: 2.5px;
	background-color: #e7e7e7;
	max-width: 90%;
	position: relative;
}

.progress-barGreen span {
	padding: 2.5px;
	background-color: #75c36a;
	position: absolute;
	width: 75%;
	left: 0px;
	top: 0px
}

.progress-barBlue {
	padding: 2.5px;
	background-color: #e7e7e7;
	max-width: 90%;
	position: relative;
}


.progress-barBlue span {
	padding: 2.5px;
	background-color: #5ac9e3;
	position: absolute;
	width: 95%;
	left: 0px;
	top: 0px
}

#graph-container {
	width: 30%;
	float: right;
	padding-right: 10px;
	margin-top: 65px;
}

.float-right {
	width: 30%;
	float: right;
	overflow:hidden
}


.float-left {
	width: 40%;
	float: left;
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.sliders {
	padding: 20px;
}



p.easy-to-follow {
	font-family: 'Roboto Slab', serif;
	font-size:1.1em;
	color: #f7be26;
	font-weight: 500;
	margin-bottom: 0px;
	margin-top: 5px;
	margin-left: 12px;
}

p.easy-to-follow::after{
	content: '80%';
	margin-left: 80px;
}

p.comprehensive {
	font-family: 'Roboto Slab', serif;
	font-size:1.1em;
	color: #75c36a;
	font-weight: 500;
	margin-bottom: 0px;
	margin-top: 5px;
	margin-left: 12px;
}

p.comprehensive::after{
	content: '75%';
	margin-left: 65px;
}

p.enough-examples {
	font-family: 'Roboto Slab', serif;
	font-size:1.1em;
	color: #5ac9e3;
	font-weight: 500;
	margin-bottom: 0px;
	margin-top: 5px;
	margin-left: 12px;
}

p.enough-examples::after{
	content: '95%';
	margin-left: 45px;
}


hr {
	border-color: #e0e0e0;
	max-width:100%;
	margin-top: 0px;
}

input.slider-length{
	width: 22.5%;
}

.download-book {
	font-family: 'Roboto Slab', serif;
	font-size: 1.05em;
	color: white;
	background-color: #98c400;
	padding: 5px 25px 5px 25px;
	margin-bottom: 25px;
	margin-left: 30px;
}

/*footer*/

footer {
	height: 180px;
	background-color: #3a3a3a;
}

footer .books-lmd-footer {
	float: left;
	background-image: url("../images/books.MD_footer_logo_icon.png");
	background-repeat: no-repeat;
	height: 50px;
	padding-left: 50px;
	padding-top: 8px;
	margin-top: 70px;
	color: #727272;
	margin-left: 37px;
	font-family: 'Roboto Slab', serif; 
	font-size: 1.1em;
}

footer .books-lmd-footer span {
	color: #a9a9a9;
}

footer .copyright {
	margin-right: 35px;
	float: right;
	color: #727272;
	margin-top: 70px;
	margin-bottom: 0px;
	font-size: .9em;
}

footer .contact-email {
	font-size: .9em;
	clear: right;
	float: right;
	color: #a9a9a9;
	margin-right: 35px;
	margin-top: 2px;
}


.publication-date, .edition {
	color: #bebebe;
}


